.admin-panel {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
  }
  .admin-panel p {
    font-size: 20px;
    color: #666; /* Сірий текст */
    margin-bottom: 20px;
  }
  
  .admin-panel-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  

  