.feednews-container {
  max-width: 900px; /* Зменшення ширини */
  margin: 0 auto; /* Центрування контейнера */
  padding: 10px; /* Зменшення внутрішніх відступів */
  
}



.community-link-news{
  color: #007bff; /* Синій колір для посилання */
  text-decoration: none; /* Прибрати підкреслення */
  font-weight: bold; /* Жирний шрифт */
}
.community-link-news:hover {
  text-decoration: none; /* Підкреслення при наведенні */
  color: #0056b3; /* Темніший синій при наведенні */
}

.community-link-news:active {
  color: #003d80; /* Ще темніший синій при кліці */
}

  
