.join-requests {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.join-requests h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}
.join-request {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #fff;
    margin-bottom: 15px;
    transition: box-shadow 0.3s ease;
}

.join-request:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.button-group-join-request{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

