/* Загальний контейнер для Sidebar */
/* Основні стилі Sidebar */
.sidebar {
  width: 250px;
  height: 100vh; /* Повна висота вікна */
  background: linear-gradient(180deg, #ffffff, #f0f0f0); /* Градієнт */
  padding: 3px;
  position: fixed; /* Фіксована позиція */
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 5px; /* Відступ між елементами */
  font-family: 'Arial', sans-serif;
  transition: transform 0.3s ease; /* Плавний перехід */
  margin-top: 20px;
  border-radius: 15px;
}

/* Відкритий стан Sidebar */
.sidebar.open {
  transform: translateX(0); /* Відображається */
}

/* Закритий стан Sidebar (на мобільних) */
.sidebar {
  transform: translateX(-100%); /* Ховається */
}

/* Медіа-запит для великих екранів */
@media (min-width: 768px) {
  .sidebar {
    transform: translateX(0); /* Завжди відображається */
  }

  .menu-toggle {
    display: none; /* Ховаємо кнопку гамбургер на великих екранах */
  }
}





