/*------Бокова панель списка спільнот користувача*/
.user-communities {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  .communities-list-sidebar{
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  .communities-list-sidebar li {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
 
 
  .communities-list-sidebar a {
    display: flex;
    align-items: center;
    text-decoration: none; /* Без підкреслення */
    color: white; /* Основний колір тексту */
    gap: 10px;
    flex-grow: 1;
  }
  .communities-list-sidebar a:hover{
    text-decoration: none; /* Без підкреслення */
  }
  
  .community-thumbnail {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Круглий аватар */
    object-fit: cover;
    border: 2px solid white; /* Синя обводка */
  }
  
  .community-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Круглий блок */
    background-color: white; /* Синій фон */
    color: black; /* Білий текст */
    font-weight: bold;
    font-size: 16px;
  }
  
  .communities-list span {
    font-size: 16px;
    font-weight: 500;
    flex-grow: 1;
  }
  
  .user-communities-sidebar p {
    font-size: 14px;
    color: #666;
    text-align: center;
    margin-top: 10px;
  }
  
  