* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: linear-gradient(to bottom, #ffffff, #007BFF); /* Синьо-білий градієнт */
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
}
